@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  background-image: url(./planets.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.ecran {
  min-height: 80vh;
}

form {
  height: 75vh;
}

.neonText {
  color: #242424;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
    0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
}

.neonSmall {
  color: #242424;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fa0, 0 0 42px #fa0,
    0 0 82px #fa0;
}

.registre {
  color: #0dcaf0;
  font-size: 1.2em;
  text-decoration-color: #ffc107a2;
}

.registre:hover {
  color: #ac9e75;
  transition: 0.2s;
  text-decoration-color: #0dcaf0a2;
}

.ombre {
  box-shadow: 2px 2px 15px 1px #000;
}

.lien {
  text-decoration: none;
  box-shadow: 2px 2px 15px 1px #000;
  color: #002b33;
  background-color: #ffffff25;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 18px #fa0;
}

.div-lien:hover {
  transform: scale(0.97);
  transform-origin: center;
  transition: 0.3s;
}

.lien:hover {
  box-shadow: none;
  transition: 0.3s;
  background-color: transparent;
}

#titre {
  border-radius: 50%;
}

.card-body {
  align-content: end;
}

.success {
  margin-top: 2rem;
  color: #266e1c;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.error {
  margin-top: 2rem;
  color: #720e0e;
  text-shadow: 1px 1px #1a1a1a50;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.planet {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-size: 500% 100%;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

/*  
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
*/
